# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
flask
flask-cors
python-dotenv
langchain-openai
langchain-core
langchain-mongodb
langchain_elasticsearch
elasticsearch
python-dotenv
transformers
pymongo
pymongo[srv]
certifi