# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
flask
flask-cors
numpy<2.0.0
langchain-openai==0.3.0
langchain-core==0.3.29
langchain-mongodb==0.4.0
langchain_elasticsearch==0.3.0
elasticsearch
python-dotenv
transformers
pymongo==4.10.1
